@{
    ViewData["Title"] = "Vendas";
}
<div class="d-flex justify-content-between">
    <h1>@ViewData["Title"]</h1>
    <div class="d-flex align-items-end flex-column">
        <div class="p-2">
            <span>Buscar compras por produtor</span>
            <button type="button" data-bind="click: PreparaBuscaCompras" class="btn btn-outline-info" data-toggle="modal" data-target="#dialogComprasEVendas">Buscar</button>
        </div>
        <div class="p-2">
            <span>Buscar vendas por produtor</span>
            <button type="button" data-bind="click: PreparaBuscaVendas" class="btn btn-outline-info" data-toggle="modal" data-target="#dialogComprasEVendas">Buscar</button>
        </div>
        <div class="p-2">
            <span>Cancelar venda</span>
            <button type="button" data-toggle="modal" data-target="#dialogCancelarVendas" class="btn btn-outline-warning">Cancelar</button>
        </div>
    </div>
</div>

<div class="container">

    <fieldset class="form-group border p-3">
        <legend class="w-auto px-2"> Realizar Venda</legend>
        <div class="form-group row">
            <div class="form-group col-sm-6">
                <span>Propriedade de origem</span>
                <select class="form-control form-control-sm" data-bind="options: PropriedadesOrigem,
                                                                        optionsText: 'NomePropriedade',
                                                                        optionsValue: 'NomePropriedade',
                                                                        optionsCaption: 'Selecione uma propriedade...',
                                                                        value: NomePropriedadeOrigem">
                </select>
            </div>
            <div class="form-group col-sm-6">
                <span>Propriedade de destino</span>
                <select class="form-control form-control-sm" data-bind="options: PropriedadesDestino,
                                                                        optionsText: 'NomePropriedade',
                                                                        optionsValue: 'PropriedadeId',
                                                                        optionsCaption: 'Selecione uma propriedade...',
                                                                        value: PropriedadeIdDestino">
                </select>
            </div>
        </div>
        <br />
        <table class="table table-bordered table-info">
            <thead>
                <tr>
                    <th colspan="2" class="text-center ">Saldo disponível para venda</th>
                    <th colspan="2" class="text-center ">Informe a quantidade de animais para o venda</th>
                </tr>
                <tr>
                    <th scope="col">Bovino</th>
                    <th scope="col">Bubalino</th>
                    <th scope="col">Bovino</th>
                    <th scope="col">Bubalino</th>
                </tr>
            </thead>
            <tbody data-bind="foreach: AnimaisPropriedadeOrigem">
                <tr>
                    <td data-bind="text: SaldoComVacinaBovino"></td>
                    <td data-bind="text: SaldoComVacinaBubalino"></td>
                    <td><input data-bind="value: $parent.QtdBovinoVenda, disable: SaldoComVacinaBovino() == 0, attr: { max: SaldoComVacinaBovino }" class="form-control" type="number" min="0" /></td>
                    <td><input data-bind="value: $parent.QtdBubalinoVenda, disable: SaldoComVacinaBubalino() == 0 , attr: { max: SaldoComVacinaBubalino }" class="form-control" type="number" min="0" /></td>
                </tr>
                <tr data-bind="visible: !$parent.ExisteSaldoParaVenda()">
                    <th colspan="4" class="text-center text-danger ">Propriedade não possui saldo para venda.</th>
                </tr>
            </tbody>
        </table>
        <div class="container">
            <fieldset class="form-group border col-sm-12">
                <legend class="w-auto px-2"> Finalidade</legend>

                <div class="form-check d-flex justify-content-around">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" value=1 data-bind="checked: Finalidade" name="flexRadioDefault" id="REPRODUCAO">
                        <label class="form-check-label" for="REPRODUCAO">
                            REPRODUÇÃO
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" value=2 data-bind="checked: Finalidade" name="flexRadioDefault" id=" BRUCELOSE_B19" checked>
                        <label class="form-check-label" for=" BRUCELOSE_B19">
                            ENGORDA
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" value=3 data-bind="checked: Finalidade" name="flexRadioDefault" id="BRUCELOSE_RB51" checked>
                        <label class="form-check-label" for="BRUCELOSE_RB51">
                            TRABALHO
                        </label>
                    </div>
                </div>
                <br />
            </fieldset>
            <div class="d-flex justify-content-center">
                <div class="form-group  mt-3">
                    <button type="button" class="btn btn-warning btn-lg" data-bind="click: Reset">Cancelar</button>
                    <button type="button" class="btn btn-success btn-lg" data-bind="disable: !ExisteSaldoParaVenda(), click: RealizarVenda">Confirmar</button>
                </div>
            </div>
        </div>
    </fieldset>


    <div class="modal fade" id="dialogComprasEVendas" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="nomeDialog" data-bind="text: TituloDialogCompraVendas"></h5>
                    <button type="button" data-bind="click: Reset" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group row">
                            <div class="form-group col-sm-4">
                                <label for="cpf" class="col-form-label">Produtor</label>
                                <select class="form-control " data-bind="options: Produtores,
                                                                        optionsText: 'Nome',
                                                                        optionsValue: 'ProdutorId',
                                                                        optionsCaption: 'Selecione uma produtor...',
                                                                        value:  ProdutorIdBuscaComprasEVendas">
                                </select>
                            </div>
                            <div class="container">
                                <table class="table table-bordered table-sm table-info">
                                    <thead>
                                        <tr class="text-center ">
                                            <th scope="col">Codigo Historico</th>
                                            <th scope="col">Propriedade Origem</th>
                                            <th scope="col">Propriedade Destino</th>
                                            <th scope="col">Quantidade Bovino</th>
                                            <th scope="col">Quantidade Bubalino</th>
                                            <th scope="col">Data Movimentacao</th>                                            
                                            <th scope="col">Finalidade</th>
                                            <th scope="col">Situação</th>
                                        </tr>
                                    </thead>
                                    <tbody data-bind="foreach: HistoricosComprasEVendas">
                                        <tr class="text-center" scope="row">
                                            <td data-bind="text: CodigoHistorico"></td>
                                            <td data-bind="text: NomePropriedadeOrigem"></td>
                                            <td data-bind="text: NomePropriedadeDestino"></td>
                                            <td data-bind="text: QtdComVacinaBovino"></td>
                                            <td data-bind="text: QtdComVacinaBubalino"></td>
                                            <td data-bind="text: DataMovimentacao"></td>                                            
                                            <td data-bind="text: Finalidade"></td>
                                            <td data-bind="text: Status"></td>
                                        </tr>
                                    </tbody>
                                    <tbody data-bind="visible: !$root.ExisteMovimentacoes()">
                                        <tr>
                                            <th colspan="8" class="text-center text-danger" data-bind="text: $root.MsgQuandoNaoExisteMovimentacao"></th>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="dialogCancelarVendas" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="nomeDialog">Cancelar Venda(s)</h5>
                    <button type="button" data-bind="click: Reset" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                 <div class="modal-body">
                    <form>
                        <div class="form-group row">
                            <div class="form-group col-sm-4">
                                <label for="cpf" class="col-form-label">Propriedade</label>
                                <select class="form-control " data-bind="options: PropriedadesOrigem,
                                                                        optionsText: 'NomePropriedade',
                                                                        optionsValue: 'PropriedadeId',
                                                                        optionsCaption: 'Selecione uma produtor...',
                                                                        value:  PropriedadeIdCancelarVendas">
                                </select>
                            </div>
                            <div class="container">
                                <table class="table table-bordered table-sm table-info">
                                    <thead>
                                        <tr class="text-center ">
                                            <th scope="col">Codigo Historico</th>
                                            <th scope="col">Propriedade Destino</th>
                                            <th scope="col">Quantidade Bovino</th>
                                            <th scope="col">Quantidade Bubalino</th>
                                            <th scope="col">Data Movimentacao</th>                                            
                                            <th scope="col">Finalidade</th>
                                            <th scope="col">Situação</th>
                                            <th scope="col"></th>
                                        </tr>
                                    </thead>
                                    <tbody data-bind="foreach: HistoricosVendasParaCancelar">
                                        <tr class="text-center" scope="row">
                                            <td data-bind="text: CodigoHistorico"></td>
                                            <td data-bind="text: NomePropriedadeDestino"></td>
                                            <td data-bind="text: QtdComVacinaBovino"></td>
                                            <td data-bind="text: QtdComVacinaBubalino"></td>
                                            <td data-bind="text: DataMovimentacao"></td>                                            
                                            <td data-bind="text: Finalidade"></td>
                                            <td data-bind="text: Status"></td>
                                            <td ><button data-bind="click: $parent.RealizarCancelamentoDeVenda,  disable: Status() == 'CANCELADO' " type="button" class="btn btn-warning">Cancelar</button></td>
                                            @*<td ><button data-bind="click: $parent.RealizaCancelamento, disable: Situacao() == 'CANCELADO' " type="button" class="btn btn-warning">Cancelar</button></td>*@
                                        </tr>
                                    </tbody>
                                    <tbody data-bind="visible: !$root.ExisteMovimentacoesDeVendas()">
                                        <tr>
                                            <th colspan="8" class="text-center text-danger"> Não existe movimentação de venda(s) para essa propriedade. </th>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>

@section Scripts{
<script src="~/app/produtor/app.produtor.model.js"></script>
<script src="~/app/propriedade/app.propriedade.model.js"></script>
<script src="~/app/vendas/app.vendas.model.js"></script>
<script src="~/app/animais/app.animais.model.js"></script>
<script src="~/app/vendas/app.vendas.services.js"></script>
<script src="~/app/vendas/app.vendas.viewModel.js"></script>

}